In [1]:
print("CUREYA Task Week-1")

CUREYA Task Week-1

In [11]:
a="Addition"
b=7
c=3.5
d=b+c
print(a)
print(d)

Addition
10.5

In [12]:
type(a)

str

In [13]:
type(b)

int

In [14]:
type(c)

float

In [18]:
print("Subtraction")
s=b-c
print(s)

Subtraction
3.5

In [19]:
print("Multiplication")
m=b*c
print(m)

Multiplication
24.5

In [21]:
print("Division")
e=b/c
print(e)

Division
2.0

In [25]:
print("if-else statement")
if(b>c):
    print("b is greater")
elif(c>b):
    print("c is greater")
else:
    print("Both are equal")

if-else statement
b is greater

In [26]:
print("for loop")
print("table of 5")
for i in range(0,51,5):
    print(i)

for loop
table of 5
0
5
10
15
20
25
30
35
40
45
50

In [27]:
print("Factorial of 4")
fact=4
for i in range(1,4):
    fact=fact*i
print(fact)

Factorial of 4
24

In [61]:
fname="Shivam"
lname=" Khanna"
str=fname+lname
print(str)
len(str)

Shivam Khanna

13

In [32]:
print("List")
ls=[1,2,3,4,"five","six"]
type(ls)
print(ls)

List
[1, 2, 3, 4, 'five', 'six']

In [36]:
len(ls)

6

In [37]:
ls[5]

'six'

In [38]:
ls[0:3]

[1, 2, 3]

In [47]:
ls[3]="four"
ls.append(7)

In [59]:
ls

[1, 2, 3, 'four', 'five', 'six', 7]

In [76]:
string="this is a string"
string.split(' ')

['this', 'is', 'a', 'string']

In [80]:
list=["hello","world"]
j=",".join(list)
j

'hello,world'

In [87]:
print("Tuples")
t=(1,2,3,4)
t

Tuples

(1, 2, 3, 4)

In [88]:
type(t)

tuple

In [93]:
min(t)

1

In [94]:
max(t)

4

In [95]:
sum(t)

10

In [89]:
print("Dictionary")
dic={0:'hello',1:'abc',2:'xyz'}
dic

Dictionary

{0: 'hello', 1: 'abc', 2: 'xyz'}

In [90]:
dic[0]

'hello'

In [91]:
dic.keys()

dict_keys([0, 1, 2])

In [92]:
dic.values()

dict_values(['hello', 'abc', 'xyz'])

In [113]:
print("Numpy")

Numpy

In [96]:
import numpy as np

In [99]:
arr=np.array([5,6,7,8,9])

In [100]:
arr

array([5, 6, 7, 8, 9])

In [101]:
type(arr)

numpy.ndarray

In [103]:
arr.shape

(5,)

In [104]:
arr.ndim

1

In [107]:
ls=[[1,2],[3,4],[5,6]]

In [108]:
arr1=np.array(ls)

In [109]:
arr1

array([[1, 2],
       [3, 4],
       [5, 6]])

In [110]:
arr1[0][1]

2

In [111]:
arr1.shape

(3, 2)

In [112]:
arr1.ndim

2